.toolbar {
  height: 48px;
  position: sticky;
  top: 0px;
  padding: 0px 8px;
  border-bottom: 2px solid lightgray;
  color: #666;
  background-color: white;
  font-size: 24px;
  display: flex;
  align-items: stretch;
}

.toolbar > a {
  flex: 0 0 48px;
  line-height: 48px;
  text-align: center;
}

.toolbar > a:link, .toolbar > a:visited {
  color: #666;
}

.toolbar > a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.seperator-h {
  margin: 12px 12px;
  border: 1px dashed #aaa;
}
